Source: kylin-langpack-bo-cn
Section: translations
Priority: optional
Maintainer: Burgess Chang <open@brsvh.org>
Build-Depends: debhelper (>= 9),
               dh-python,
               python3-dev,
               python3-distutils-extra,
               python3-setuptools,
               python3-polib,
               gettext,
               qttools5-dev-tools,
Standards-Version: 3.9.2

Package: kylin-language-pack-bo-cn-base
Architecture: all
Pre-Depends: dpkg (>= 1.16.1), ${misc:Pre-Depends}
Depends: ${misc:Depends}
Description: translation update for language English.

Package: kylin-language-pack-bo-cn-extra
Architecture: all
Pre-Depends: dpkg (>= 1.16.1), ${misc:Pre-Depends}
Depends: ${misc:Depends}
Description: translation update for language English.
