#!/usr/bin/make -f

QT_SELECT=5

build:
	make all

clean:
	make clean
	dh_clean

binary: 
	make install-mo DESTDIR=debian/kylin-language-pack-bo-cn-base PREFIX=/usr
	make install-qm DESTDIR=debian/kylin-language-pack-bo-cn-extra PREFIX=/usr
	dh_installchangelogs
	dh_gencontrol
	dh_md5sums
	dh_builddeb
